include ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alertError(5000)

    form(
        action=`${prefixAdmin}/products/handle-create-new-product`
        id='form-create-product'
        method='POST'
        enctype="multipart/form-data"
        class='container'
    )
        div(class='form-group')
            label(for='title') Title
            input(
                type='text'
                class='form-control'
                id='title'
                name='title'
                placeholder='Enter title'
                required
            )
        div(class='form-group')
            label(for='descript') Description
            textarea(
                class='form-control'
                id='descript'
                name='description'
                placeholder='Enter price'
            )
        div(class='form-group')
            label(for='price') Price
            input(
                type='number'
                class='form-control'
                id='price'
                name='price'
                placeholder='Enter price'
                value='0'
                min='0'
                required
            )
        div(class='form-group')
            label(for='discount') % Discount
            input(
                type='number'
                class='form-control'
                id='discount'
                name='discountPercentage'
                value='0'
                min='0'
            )
        div(class='form-group')
            label(for='stock') Stock
            input(
                type='number'
                class='form-control'
                id='stock'
                name='stock'
                value='0'
                min='0'
                accept='image/*'
                required
            )
        div(
            class='form-group'
            upload-image 
        )
            label(for='thumbnail') Image
            input(
                type='file'
                class='form-control-file'
                id='thumbnail'
                name='thumbnail'
                accept= 'image/*' 
                upload-image-input
            )
            img(
                src = ""
                upload-image-preview
                class = 'image-preview'
            )
        div(class='form-group')
            label(for='position') Position
            input(
                type='number'
                class='form-control'
                id='position'
                name='position'
                placeholder='Automatically increase'
                min='1'
            )
        div(class = 'form-group form-check form-check-inline')  
            label(for='statusActive' class ='form-check-label') Active
            input(
                type='radio'
                class='form-check-input'
                id='statusActive'
                name='status'
                value='active'
                checked
            )
        div(class = 'form-group form-check form-check-inline')
            label(for='statusInactive' class ='form-check-label') Inactive
            input(
                type='radio'
                class='form-check-input'
                id='statusInactive'
                name='status'
                value='inactive'
                checked
            )
        div(class='form-group')
            button(
                type='submit'
                class='btn btn-primary'
            ) Create
    script(src='/admin/js/products.js')
