include ../../layouts/default.pug

block main
    div(
        class = 'container mt-5'
        style="max-width: 90rem;"
        id = 'container-admin-product-detail'
    )
        .card.bg-light.mb-3.shadow-lg.p-4.rounded
            if product.title
                .row
                    h3 The product name is: #{product.title}
            .row
                div(
                    class = 'card border-light p-3 m-2'
                    style="width: 100%; background-color:#F5F3FF"
                )
                    .row 
                        .col-md-4
                            h4 The updated information
                        .col-md-4
                            h4 The basic information
                            .py-3 
                                p The product's stock is:  
                                    strong #{product.stock != null ? product.stock : N/A}
                                p The product's price is: 
                                    strong #{product.price != null ? product.price : N/A}
                                p The product's quantity is: 
                                    strong #{product.quantity != null ? product.price : N/A}
                                p The discount percentage is: 
                                    strong #{product.discountPercentage != "" ? product.price : N/A}
                                img(
                                    src = product.thumbnail
                                    alt = product.title
                                    style="width: 50%; height: 50%;"
                                )
                                p The product's description is: 
                                    strong #{product.description != "" ? product.price : N/A}
                        .col-md-4
                            h4 The SEO information
